.contenedor {
    display: grid;
    grid-template-areas: 
    "header header header"
    "img titulo titulo"
    "sidebar main main"
    "footer footer footer";
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 100px 150px 1fr 50px;
    gap: 10px;
}

header {
    grid-area: header;
    padding: 16px;
    gap: 12px;
}

.escudo {
    grid-area: img;
}

.encabezado {
    grid-area: titulo;
}

nav {
    grid-area: sidebar;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;   
}



footer {
    grid-area: footer;

}