/* Dispositivos móviles screen pequeña */
@media(max-width:600px) {
    .contenedor {
        background-color: blue;
        height: 100vh;
        grid-template-areas: 
            "header "
            "titulo"
            "sidebar"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 50px 90px 200px 200px 30px;
        gap: 10px;
    }

    header, .escudo, .encabezado, nav, main, footer {
        min-height: auto; /* Resetea la altura mínima para dispositivos pequeños */
    }

    .escudo {
        visibility: hidden;
    }

    .encabezado {
        font-size: 0.7em;
    }

    .tituloh1 {
        font-size: 1em;
    }

    .cfooter {
        font-size: 0.6em;
    }

    .button-link {
        margin-bottom: 3px;
        font-size: 14px;
    }
    
}

/* Dispositivos tablets */
@media (min-width: 601px) and (max-width: 768px) { 
    .contenedor {
        background-color: rgb(211, 91, 22);
        height: 100vh;
        grid-template-areas: 
            "header header"
            "titulo titulo"
            "sidebar main"
            "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 160px 320px 30px;
        gap: 10px;
    }

    header, .escudo, .encabezado, nav, main, footer {
        min-height: auto; /* Resetea la altura mínima para dispositivos medianos */
    }


    .escudo {
        visibility: hidden;
    }

    .encabezado {
        font-size: 1.2em;
        
    }

    .tituloh1 {
        font-size: 1.4em;
    }
    
    .cfooter {
        font-size: 0.6em;
    }
}

/* Dispositivos portátiles pequeños  */
@media (min-width: 769px) and (max-width:1365px) {

    .contenedor {
        background-color: rgb(245, 239, 240);
        height: 100vh;
        grid-template-areas: 
        "header header header"
        "img titulo titulo"
        "sidebar main main"
        "footer footer footer";
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: 60px 100px 400px 30px;
        gap: 10px;
    }

    header, .escudo, .encabezado, nav, main, footer {
        min-height: auto; /* Resetea la altura mínima para dispositivos grandes */
    }

    .encabezado {
        font-size: 0.8em;
        overflow: hidden;
    }

    .cfooter {
        font-size: 0.7em;
    }
    .escudo img {
        width: 50%;
        height: 90px;
    
    }
    
}